#main td:nth-child(1) {
    text-align: end;
    font-weight: bold;
}
th {
    border-bottom: 1pt solid grey;
}
.form-group {
    padding: 10px;
}
.details > div {
    padding: 0.6em;
}
.nav-link, .nav-link:hover {
    color: red;
}
.form-check.d-flex {
    gap:10px;
}